<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <title>Your ToDos for Today</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <h1>Todos for Today</h1>
</div>
<div>
    <a href="/todo/add">Add new Todo</a>
</div>
<div>
    <a href="/todo/list">Back to full list</a>
</div>
<table>
    <thead>
      <tr>
        <th><h3>ID</h3></th>
        <th><h3>Action</h3></th>
        <th><h3>Done</h3></th>
        <th><h3>Urgent</h3></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="todo : ${todos}">
        <td class="col1" th:text="${todo.id}"></td>
        <td class="col2" th:text="${todo.title}"></td>
        <td class="col3" th:text="${todo.done}"></td>
        <td class="col4" th:text="${todo.urgent}"></td>
      </tr>
    </tbody>
</table>
</body>
</html>