<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <title>Your ToDos for Today</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <h1>Todos for Today</h1>
</div>
<div>
    <a href="/todo/add">Add new Todo</a>
</div>
<div>
    <a href="/assignee/add">Add new Assignee</a>
</div>
<div>
    <a href="/todo/list">Full todo list</a>
</div>
<div>
    <a href="/assignee/list">Full list of Assignees</a>
</div>
<table>
    <thead>
      <tr>
        <th><h3>ID</h3></th>
        <th><h3>Action</h3></th>
        <th><h3>Done</h3></th>
        <th><h3>Urgent</h3></th>
        <th><h3>Assignee</h3></th>
        <th><h3>Created</h3></th>
        <th><h3>Modified</h3></th>
        <th><h3>Delete?</h3></th>
        <th><h3>Update?</h3></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="todo : ${todos}">
        <td class="col1" th:text="${todo.id}"></td>
        <td><a th:href="@{/todo/{id}/view(id=${todo.id})}" class="col2" th:text="${todo.title}"></a></td>
        <td class="col3" th:text="${todo.done}"></td>
        <td class="col4" th:text="${todo.urgent}"></td>
        <td th:text="${todo.assignee}"></td>
        <td th:text="${#dates.format(todo.createDate, 'dd-MM-yyyy HH:mm')}"></td>
        <td th:text="${#dates.format(todo.modifyDate, 'dd-MM-yyyy HH:mm')}"></td>
        <td><a th:href="@{/todo/{id}/delete(id=${todo.id})}">Delete this todo</a></td>
        <td><a th:href="@{/todo/{id}/edit  (id=${todo.id})}">Modify this todo</a></td>
      </tr>
    </tbody>
</table>
</body>
</html>